doctype html
html
  head
    title Mega Menu
    link(rel="stylesheet" href="/style.css")
  body
    .navbar
      .navbar-top
        ul.navbar-ul
          each item, key1 in data.menu
            li.navbar-item
              a.navbar-link(href=item.id)=item.label
              .navbar-dropdown
                .navbar-left
                  h2.navbar-dropdown-h2=item.secondMenuTitle
                  ul.navbar-dropdown-ul
                    each subItem, key2 in item.secondMenuItemList
                      li.navbar-dropdown-li
                        span.li-text(data-key1=key1, data-key2=key2)=subItem.label
                        .navbar-right
                          h2.navbar-right-h2=subItem.label
                          ul.navbar-right-ul
                            //- each subItemRight in subItem.list1
                            //-   li.navbar-right-li
                            //-     a.navbar-right-link(href=subItemRight.link)=subItemRight.label
          li.navbar-item
            a.navbar-link(href="#") Offers
          li.navbar-item
            a.navbar-link(href="#") Prescriptions
    script.
      let menu = !{JSON.stringify(data.menu)};
      document.querySelectorAll(".li-text").forEach(function(liItem){
        liItem.addEventListener("mouseover", function(elem){
          console.log("HOVER");
          const {key1, key2} = elem.currentTarget.dataset;
          let list = liItem.nextElementSibling.querySelector(".navbar-right-ul");
          list.innerHTML = "";

          if(menu[key1].secondMenuItemList[key2].list1) {
            menu[key1].secondMenuItemList[key2].list1.map(function(data){
              let li = document.createElement("li");
              li.className = "navbar-right-li";
              let a = document.createElement("a");
              a.className = "navbar-right-link";
              a.href = data.link;
              a.innerText = data.label;
              li.appendChild(a);
              list.appendChild(li);
            });
          }
        });
      });